html, body{
    margin: 0;
    padding: 0;
    font-family: PT Sans, sans-serif;
    background-color: #ECF0F1;
    color: #2C3E50;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

::-webkit-input-placeholder {
    color:    #555;
}
:-moz-placeholder {
    color:    #555;
}
::-moz-placeholder {
    color:    #555;
}
:-ms-input-placeholder {
    color:    #555;
}

#heading {
    width: 100%;
    height: 120px;
    padding: 35px;
    font-size: 40px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #3498DB;
    color: #ECF0F1;
}

#heading:hover {
    color: #fff;
}

#content {
    margin: -30px auto;
    background-color: #FFFFFF;
    width: 900px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    box-shadow: 0 10px 30px #ddd;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}

.tab-row {
    height:60px;
}

.tabs {
    width:150px;
    height:60px;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    float: left;
    background-color: #ECF0F1;
    text-align: center;
}

.tabs:hover {
    background-color: #FAFAFA;
}

.tabs:first-child {
    background-color: #FFFFFF;
    border-top-left-radius: 30px;
}

.tabs:last-child {
    border-top-right-radius: 30px;
}

.post {
    margin-top: 15px;
    margin-left: 10px;
}

.post:first-child{
    margin-top: 60px;
}

.post:last-child {
    margin-bottom: 30px;
}

.voting {
    margin: 5px;
    position: relative;
    height: 30px;
    width: 50px;
}

.voting .upvote {
    position: absolute;
    top:0px;
    left:0px;
    height: 15px;
    width: 15px;
    background-color: rgba(231,76,60,0.3);
}

.voting .downvote {
    position: absolute;
    top: 15px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: rgba(52,152,219,0.3);
}

.voting .score {
    position: absolute;
    top: 6px;
    left: 20px;
    width: 35px;
    text-align: center;
    color: #B3B3B3;
}

.voting .icon {
    position: absolute;
    top: 0px;
    left: 60px;
    height: 30px;
    width: 30px;
    background-color: #b4528a;
}

.post-body {
    margin-left: 105px;
    margin-top: -30px;
    height: 40px;
    top: 50%;
}

.post-body .title {
    display: inline;
}

.post-body .details {
    color: #B3B3B3;
    display: inline;
}

#left-sidebar {
    position: absolute;
    width: 200px;
    left: 35px;
    top: 160px;
    z-index: 0;
}

#left-sidebar .main {
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}

#left-sidebar .main:first-child {
    margin-top: 0px;
}

#left-sidebar .entry {
    font-weight: 200;
    margin-left: 20px;
    margin-top: 5px;
}

#searchbar {
    position: absolute;
    top: 70px;
    right: 20px;
}

#container-1 {
    width: 230px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#container-1 input#search{
  width: 230px;
  height: 30px;
  background-color: rgba(255,255,255,0.3);
  border: none;
  font-size: 10pt;
  float: left;
  padding: 10px;
  color: #2C3E50;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#right-sidebar {
    position: absolute;
    right: 35px;
    width: 200px;
    top: 160px;
    z-index: 0;
}

#right-sidebar #username {
    font-size: 20px;
    margin-top: 0px;
    color: #3498DB;
}

#right-sidebar .main {
    font-weight: 600;
    letter-spacing: 1px;
}

#submit {
    background-color: #3498DB;
    text-align: center;
    padding: 10px;
    -webkit-transition:  0.15s; /* Safari */
    transition: 0.15s;
}

#submit:first-child {
    -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
}

#submit:last-child {
    -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
}

#submit:hover {
    background-color: #E74C3C;
    color: #ECF0F1;
}